.container{
    width: 80%;
    margin: auto;
}

.card{
    width: 100px;
}

#numero{
    background-color: yellowgreen;
    border:0px;
    padding: 6px;
}

#inicio{
    background-color: yellowgreen;
    border:0px;
    padding: 6px;
    /* width: 80px; */
}

#tiempo{
    background-color: yellowgreen;
    border:0px;
    padding: 6px;
}

#extras{
    background-color: yellowgreen;
    border:0px;
    padding: 6px;
}